@import url("https://fonts.googleapis.com/css?family=Montserrat|Source+Code+Pro&display=swap");

#sidebar {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-content: center;
  float: left;
}

ul {
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
}

#peace-sign {
  margin-left: 20px;
}
