@import url("https://fonts.googleapis.com/css?family=Montserrat|Source+Code+Pro&display=swap");

#sidebar {
  float: left;
  margin: 50px;
}

ul {
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
}
