@import url("https://fonts.googleapis.com/css?family=Bowlby+One+SC|Source+Code+Pro&display=swap");

p {
  font-family: "Source Code Pro", monospace;
  font-size: 1.5em;
}

.bold-text {
  font-family: "Bowlby One SC", cursive;
  font-weight: bold;
  font-size: 2em;
}
