@import url("https://fonts.googleapis.com/css?family=Montserrat|Source+Code+Pro&display=swap");

p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em;
}

.bold-text {
  font-family: "Source Code Pro", monospace;
  font-weight: bold;
  font-size: 2em;
}

#main-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10%;
}

#footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}
